In [39]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [19]:
df = pd.read_csv('files/datecounts.csv',parse_dates=True)

In [20]:
df = df[['date','josh','thao','wilb','total']]

In [21]:
df.sort_values('total',ascending=False)

         date  josh  thao  wilb  total
239  02/26/16  1037    10  1143   2190
189  01/07/16   778   490   786   2054
243  03/01/16  1008   103   923   2034
236  02/23/16   794   341   829   1964
159  12/08/15   663   277   949   1889
298  04/25/16   707   230   946   1883
186  01/04/16   775   247   841   1863
158  12/07/15   749   124   963   1836
266  03/24/16   782   153   826   1761
314  05/11/16   762   199   736   1697
525  12/08/16   574   190   918   1682
522  12/05/16   817    16   812   1645
188  01/06/16   803    43   798   1644
249  03/07/16   862    43   728   1633
190  01/08/16   788    90   740   1618
312  05/09/16   680   134   762   1576
155  12/04/15   650    21   895   1566
334  05/31/16   560   213   791   1564
127  11/06/15   748    32   776   1556
242  02/29/16   781    69   703   1553
165  12/14/15   631   126   751   1508
244  03/02/16   559   161   782   1502
329  05/26/16   805    33   641   1479
169  12/18/15   697    71   710   1478
319  05/16/16   689   123   663   1475
232  02/19/16   566   117   787   1470
160  12/09/15   650   126   677   1453
210  01/28/16   633   117   665   1415
138  11/17/15   654    45   712   1411
193  01/11/16   618    94   691   1403
..        ...   ...   ...   ...    ...
367  07/03/16     9    18    29     56
527  12/10/16    31     3    19     53
401  08/06/16    12     6    35     53
43   08/14/15    17    13    22     52
56   08/27/15    25     0    25     50
303  04/30/16    31     0    18     49
128  11/07/15    19     1    29     49
444  09/18/16    17     5    24     46
492  11/05/16    16     7    21     44
248  03/06/16    16     5    20     41
479  10/23/16    16     6    18     40
65   09/05/15    15    15    10     40
387  07/23/16    21     0    19     40
79   09/19/15    16     0    19     35
402  08/07/16    10     1    11     22
409  08/14/16     4     4    14     22
121  10/31/15     8     0    11     19
430  09/04/16     8     3     7     18
59   08/30/15     7     1    10     18
478  10/22/16     6     0    11     17
310  05/07/16     1     5     4     10
0    07/02/15     3     4     3     10
437  09/11/16     4     1     3      8
2    07/04/15     3     2     3      8
338  06/04/16     2     4     0      6
66   09/06/15     3     0     2      5
45   08/16/15     0     0     0      0
394  07/30/16     0     0     0      0
9    07/11/15     0     0     0      0
3    07/05/15     0     0     0      0

[546 rows x 5 columns]

In [47]:
print np.sum(df['thao'])
print np.sum(df['wilb'])
print np.sum(df['josh'])

27038
139869
121895

In [46]:
df.sort_values(by='thao',ascending=False)

         date  josh  thao  wilb  total    day
189  01/07/16   778   490   786   2054  Thurs
351  06/17/16   432   343   491   1266    Fri
236  02/23/16   794   341   829   1964   Tues
417  08/22/16   312   304   663   1279    Mon
159  12/08/15   663   277   949   1889   Tues
143  11/22/15   384   271   598   1253    Sun
255  03/13/16   291   268   530   1089    Sun
411  08/16/16   131   257   287    675   Tues
412  08/17/16   233   247   328    808   Weds
186  01/04/16   775   247   841   1863    Mon
335  06/01/16   363   245   483   1091   Weds
298  04/25/16   707   230   946   1883    Mon
393  07/29/16   105   215   202    522    Fri
22   07/24/15   288   213   309    810    Fri
334  05/31/16   560   213   791   1564   Tues
314  05/11/16   762   199   736   1697   Weds
1    07/03/15    78   197   190    465    Fri
376  07/12/16   192   197   283    672   Tues
525  12/08/16   574   190   918   1682  Thurs
84   09/24/15   333   186   303    822  Thurs
299  04/26/16   400   186   594   1180   Tues
281  04/08/16   266   180   311    757    Fri
23   07/25/15   132   179   234    545    Sat
4    07/06/15   173   173   302    648    Mon
251  03/09/16   460   169   487   1116   Weds
425  08/30/16   232   167   262    661   Tues
25   07/27/15    80   163   220    463    Mon
14   07/16/15    60   162   178    400  Thurs
375  07/11/16   300   162   355    817    Mon
217  02/04/16   417   161   666   1244  Thurs
..        ...   ...   ...   ...    ...    ...
121  10/31/15     8     0    11     19    Sat
115  10/25/15   109     0   110    219    Sun
79   09/19/15    16     0    19     35    Sat
77   09/17/15   147     0   124    271  Thurs
76   09/16/15    62     0    57    119   Weds
66   09/06/15     3     0     2      5    Sun
58   08/29/15    36     0    43     79    Sat
56   08/27/15    25     0    25     50  Thurs
45   08/16/15     0     0     0      0    Sun
9    07/11/15     0     0     0      0    Sat
3    07/05/15     0     0     0      0    Sun
175  12/24/15    92     0    89    181  Thurs
198  01/16/16   172     0   187    359    Sat
224  02/11/16   454     0   530    984  Thurs
438  09/12/16    37     0    44     81    Mon
498  11/11/16   167     0   164    331    Fri
478  10/22/16     6     0    11     17    Sat
467  10/11/16   268     0   293    561   Tues
458  10/02/16    48     0    55    103    Sun
456  09/30/16   318     0   407    725    Fri
446  09/20/16    71     0   125    196   Tues
416  08/21/16    58     0    83    141    Sun
271  03/29/16   434     0   671   1105   Tues
415  08/20/16    36     0    57     93    Sat
394  07/30/16     0     0     0      0    Sat
387  07/23/16    21     0    19     40    Sat
303  04/30/16    31     0    18     49    Sat
283  04/10/16    61     0    96    157    Sun
275  04/02/16    44     0    53     97    Sat
545  12/28/16    76     0    83    159   Weds

[546 rows x 6 columns]

In [45]:
df[(df['thao'] > df['josh']) & (df['thao'] > df['wilb'])].sort_values(by='thao',ascending=False)

         date  josh  thao  wilb  total    day
393  07/29/16   105   215   202    522    Fri
1    07/03/15    78   197   190    465    Fri
398  08/03/16    56   145    89    290   Weds
27   07/29/15   124   144   116    384   Weds
35   08/06/15   116   137    76    329  Thurs
5    07/07/15    73   106    90    269   Tues
343  06/09/16    45    93    34    172  Thurs
46   08/17/15    57    92    56    205    Mon
289  04/16/16    40    89    68    197    Sat
26   07/28/15    47    75    62    184   Tues
33   08/04/15    56    73    48    177   Tues
37   08/08/15    40    67    55    162    Sat
180  12/29/15    39    43    38    120   Tues
346  06/12/16    13    41    28     82    Sun
67   09/07/15    32    41    28    101    Mon
344  06/10/16     9    40    17     66    Fri
19   07/21/15    13    30    21     64   Tues
310  05/07/16     1     5     4     10    Sat
338  06/04/16     2     4     0      6    Sat
0    07/02/15     3     4     3     10  Thurs

In [34]:
df['day'] = pd.to_datetime(df['date'])

In [41]:
df['day'] = df['day'].dt.dayofweek

In [42]:
df['day']

0      3
1      4
2      5
3      6
4      0
5      1
6      2
7      3
8      4
9      5
10     6
11     0
12     1
13     2
14     3
15     4
16     5
17     6
18     0
19     1
20     2
21     3
22     4
23     5
24     6
25     0
26     1
27     2
28     3
29     4
      ..
516    1
517    2
518    3
519    4
520    5
521    6
522    0
523    1
524    2
525    3
526    4
527    5
528    6
529    0
530    1
531    2
532    3
533    4
534    5
535    6
536    0
537    1
538    2
539    3
540    4
541    5
542    6
543    0
544    1
545    2
Name: day, dtype: int64

In [43]:
days = {0:'Mon',1:'Tues',2:'Weds',3:'Thurs',4:'Fri',5:'Sat',6:'Sun'}

df['day'] = df['day'].apply(lambda x: days[x])

In [56]:
df[(df['josh'] == df['thao']) & (df['thao'] == df['wilb'])]

         date  josh  thao  wilb  total  day
3    07/05/15     0     0     0      0  Sun
9    07/11/15     0     0     0      0  Sat
45   08/16/15     0     0     0      0  Sun
394  07/30/16     0     0     0      0  Sat